@font-face {
  font-family: 'Beau-Theme-Icon';
  src: url("../fonts/Beau-Theme-Icon.eot?7mu29a");
  src: url("../fonts/Beau-Theme-Icon.eot?#iefix7mu29a") format("embedded-opentype"), url("../fonts/Beau-Theme-Icon.ttf?7mu29a") format("truetype"), url("../fonts/Beau-Theme-Icon.woff?7mu29a") format("woff"), url("../fonts/Beau-Theme-Icon.svg?7mu29a#Beau-Theme-Icon") format("svg");
  font-weight: normal;
  font-style: normal;
}

.be {
  font-family: 'Beau-Theme-Icon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.be-box:before {
  content: "\e617";
}
.be-shipping:before {
  content: "\e618";
}
.be-heart-o:before {
  content: "\e619";
}
.be-money:before {
  content: "\e61a";
}
.be-small-list:before {
  content: "\e600";
}
.be-small-grid:before {
  content: "\e601";
}
.be-grid:before {
  content: "\e602";
}
.be-list:before {
  content: "\e603";
}
.be-planet:before {
  content: "\e604";
}
.be-star:before {
  content: "\e605";
}
.be-swing-heart:before {
  content: "\e606";
}
.be-two-heart:before {
  content: "\e607";
}
.be-technology:before {
  content: "\e608";
}
.be-tools:before {
  content: "\e609";
}
.be-skirt:before {
  content: "\e60a";
}
.be-pen:before {
  content: "\e60b";
}
.be-bag:before {
  content: "\e60c";
}
.be-ink:before {
  content: "\e60d";
}
.be-bat:before {
  content: "\e60e";
}
.be-eye:before {
  content: "\e60f";
}
.be-heart:before {
  content: "\e610";
}
.be-magic:before {
  content: "\e611";
}
.be-bang:before {
  content: "\e612";
}
.be-piza:before {
  content: "\e613";
}
.be-cache:before {
  content: "\e614";
}
.be-grapes:before {
  content: "\e615";
}
.be-cup:before {
  content: "\e616";
}